---
import * as styles from './Footer.css';
import StellarIcon from './StellarIcon.astro';

const today = new Date();
---

<footer class={styles.footer}>
	&copy; {today.getFullYear()} Your name here. All rights reserved.
	<div class={styles.socialLinks}>
		<a class={styles.socialLink} href="https://m.webtoo.ls/@astro" target="_blank" rel="noreferrer">
			<span class="sr-only">Follow Astro on Mastodon</span>
			<StellarIcon name="social:mastodon" />
		</a>
		<a class={styles.socialLink} href="https://twitter.com/astrodotbuild" target="_blank" rel="noreferrer">
			<span class="sr-only">Follow Astro on Twitter</span>
			<StellarIcon name="social:twitter" />
		</a>
		<a class={styles.socialLink} href="https://github.com/withastro/astro" target="_blank" rel="noreferrer">
			<span class="sr-only">Go to Astro's GitHub repo</span>
			<StellarIcon name="github:logo" />
		</a>
	</div>
</footer>
