---
import { SITE_TITLE } from '../consts';
import * as styles from './Header.css';
import HeaderLink from './HeaderLink.astro';
import StellarIcon from './StellarIcon.astro';
---

<header class={styles.header}>
	<nav class={styles.nav}>
		<h2 class={styles.brand}><a class={styles.brandLink} href="/">{SITE_TITLE}</a></h2>
		<div class={styles.internalLinks}>
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class={styles.socialLinks}>
			<a class={styles.socialLink} href="https://m.webtoo.ls/@astro" target="_blank" rel="noreferrer">
				<span class="sr-only">Follow Astro on Mastodon</span>
				<StellarIcon name="social:mastodon" />
			</a>
			<a class={styles.socialLink} href="https://twitter.com/astrodotbuild" target="_blank" rel="noreferrer">
				<span class="sr-only">Follow Astro on Twitter</span>
				<StellarIcon name="social:twitter" />
			</a>
			<a class={styles.socialLink} href="https://github.com/withastro/astro" target="_blank" rel="noreferrer">
				<span class="sr-only">Go to Astro's GitHub repo</span>
				<StellarIcon name="github:logo" />
			</a>
		</div>
	</nav>
</header>
