---
import { stellarConfig } from '../config/stellar';
import { SITE_TITLE } from '../consts';
import * as styles from './StellarPageFooter.css';

const sitemap = stellarConfig.footer.sitemap;
const count = sitemap.length === 6 ? 3 : [7, 8].includes(sitemap.length) ? 4 : Math.min(sitemap.length, 5);
const content = stellarConfig.footer.content
	.replace('{year}', String(new Date().getFullYear()))
	.replace('{site.title}', SITE_TITLE);
---

<footer class:list={[styles.root, 'page-footer', 'footnote']} data-pagefind-ignore>
	<hr />
	{
		sitemap.length > 0 && (
			<div class={styles.sitemap} style={`column-count:${count};`}>
				{sitemap.map((group) => (
					<div class={styles.sitemapGroup}>
						<span class="fs15">{group.title}</span>
						{group.items.map((item) => <a href={item.url}>{item.label}</a>)}
					</div>
				))}
			</div>
		)
	}
	<div class={styles.text}>
		<p>{content}</p>
	</div>
</footer>