---
import * as styles from './StellarNavTabs.css';

interface Item {
	label: string;
	href?: string;
	key: string;
}

interface Props {
	active: string;
}

const { active } = Astro.props;

const items: Item[] = [
	{ key: 'home', label: '近期发布', href: '/' },
	{ key: 'categories', label: '分类', href: '/categories' },
	{ key: 'tags', label: '标签', href: '/tags' },
	{ key: 'columns', label: '专栏', href: '/columns' },
	{ key: 'archives', label: '归档', href: '/archives' },
];
---

<div class={styles.root}>
	<div class={styles.blur}>
		<div class={styles.inner}>
			<nav class={styles.nav} aria-label="Sections">
				{
					items.map((item) => (
						<a class:list={[styles.item, active === item.key && styles.active]} href={item.href}>
							{item.label}
						</a>
					))
				}
			</nav>
		</div>
	</div>
</div>